**/.eslintrc.json
**/.eslintignore
**/.prettierrc.yaml
**/*.map
**/*.ts
**/*[_.]log
**/__*
**/tsconfig.json

.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
tools/**

.gitignore
.vscodeignore
*.sh
*.vsix
*.zip
gulpfile.js
vsc-extension-quickstart.md
webpack.config.js
webpack.prod.js
webpack.dev.js
webpack.unit-tests.js